@import "mixins";
@import "variables";
@import "base";
@import "prefix";
@import "header";
@import "banner";
@import "layout";
@import "element";
@import "card";
@import "service.scss";
@import "project.scss";
@import "feedback";
@import "blog";
@import "contact.scss";
@import "footer";
@import "animation";
@import "shop";
@import "vendor";
@import "custom";
@import "responsive";


// custom code for cgb india 

.squar{
    border-radius: 4px;
    background: linear-gradient(227.33deg, #3b4d75 5.45%, rgba(47, 54, 70, 0.36) 95.34%);
}

.bo-rd{
    border-radius: 30px;
}

.shadowimg{
    box-shadow: 3px 3px 3px 0px #9e9e9e;
}

.shap-animate{
    animation: jumpThree 6s infinite linear;
}

.logo-bg-white{
    border: 1px solid #dbdbdb;
    background: #fff;
    padding: 10px 17px;
    border-radius: 10px;
}

.logo-bg-white:hover{
    box-shadow: 0 0 15px rgb(0 0 0/30%);
}

.bg-cls{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.map-dots li:after{
    height: 22px;
    width: 22px;
    margin: -5px 0 0 -5px;
}

.map-dots li:after {
    content: "";
    height: 20px;
    width: 20px;
    position: absolute;
    margin: -4px 0 0 -4px; /* Adjusted margin to center the dot */
    animation: pulsate 2s ease-out;
    animation-iteration-count: infinite;
    opacity: 0;
    box-shadow: 0 0 1px 2px $color-one;
    animation-delay: 1.1s;
    border-radius: 100%;
}

@keyframes pulsate {
    0% {
        transform: scale(0.1, 0.1); /* Corrected transform values */
        opacity: 0;
    }
    50% {
        opacity: 1.0;
    }
    100% {
        transform: scale(1.1, 1.1);
        opacity: 0;
    }
}

.map-dots li .line {
    height: 0;
    width: 250px;
    position: absolute;
    left: 0;
    top: 0;
    transition: 1s all;
    overflow: hidden;
    transition-delay: .7s;
}

.map-dots li:hover .line {
    overflow: visible;
}

.detailTab li {
    display: inline-block;
    cursor: pointer;
    border: 2px solid #ddd;
    padding: 0 25px;
    transition: .5s all;
}

.map-dots li {
    position: absolute;
    height: 18px;
    width: 18px;
    background: $color-one;
    border-radius: 100%;
    padding: 0;
    border: 0;
}

.map-dots li {
    height: 12px;
    width: 12px;
}

.map-dots li:first-child {
    top: 27%;
    left: 19%;
}

.map-dots li:nth-child(2) {
    top: 20%;
    left: 53%;
}

.map-dots li:nth-child(3) {
    right: 28%;
    top: 45%;
}

.map-dots li:nth-child(4) {
    right: 38%;
    top: 41%;
}

.map-dots li:last-child {
    bottom: 61%;
    right: 11%;
}

.overlayStyle {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    // background: rgba(0,0,0,0.60);
    background: rgba(255,255,255,0.60);
  };

  .lim{
    margin-bottom: 14px !important;
  }

  .header-change {
    background: $color-three !important;
    border: none;
}

.articledate {
    line-height: 30px;
    font-size: 16px;
    padding: 0 12px;
    border-radius: 5px;
    text-transform: uppercase;
    background: #fff;
    color: #2b2b2b;
}

.blog-meta-one .post-img {
    background-size: contain !important;
}

@media (max-width: 576px) { /* Applies only to small devices */
    .text-sm-justify {
      text-align: justify !important;
    }
  }

.card-shadow-one{
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.16);
}

.fixed-header{
    position: relative !important ;
    background: #012d50 !important;
}

.dark-header{
    background: #012d50 !important;
}

.round-btn {
    font-size: 25px;
    width: 55px;
    height: 55px;
    background: #fff;
    color: #2B2B2B;
    position: absolute;
    bottom: 5px;
    right: 5px;
}
.hblog-img{
        border-radius: 0px 0px 30px 30px;   
}
.lp-hero-bg{
  background: linear-gradient(rgb(7, 6, 36) -17.19%, rgba(7, 6, 36, 0) 111.4%), linear-gradient(86.97deg, rgba(255, 168, 0, 0.4) -0.67%, rgba(25, 187, 125, 0.4) 24.91%, rgba(0, 82, 204, 0.4) 48.82%, rgba(69, 164, 236, 0.4) 72.18%, rgba(184, 95, 255, 0.4) 88.31%), rgb(7, 6, 36);
}

.gradient-text{
 background: linear-gradient(90.05deg, rgb(181, 255, 211) 0.02%, rgb(209, 164, 255) 39.16%, rgb(255, 165, 175) 75.82%, rgb(255, 220, 164) 112%) text;
    -webkit-text-fill-color: transparent;
}

.bottom-curve{
    border-radius: 0px 0px 50px 50px;
}


@keyframes heartbeat {
    0% {
        transform: scale(1)
    }

    3% {
        transform: scale(1.1)
    }

    7% {
        transform: scale(1)
    }

    10% {
        transform: scale(1.1)
    }

    15% {
        transform: scale(1)
    }

    to {
        transform: scale(1)
    }
}

.heartbeat-animation {
    animation: heartbeat 5s ease-in-out infinite;
    transform-origin: center;
        background: rgb(133, 18, 224);
}

.heartbeat-animation svg {
    fill: #fff
}

.heartbeat-animation:hover {
    transition: transform .2s ease;
    animation-play-state: paused;
    transform: scale(1.02)
}

.extra-form-style{
    label{
        color: white !important;
    }
    button{
        background-color: rgb(133, 18, 224);
    }
}
.industry-card {
  border: 1px solid #e5e7eb;
  border-radius: 50px;
  display: flex;
//   flex-direction: row;
  padding-bottom: 10px;
  padding-top: 10px;
  align-items: center;
  justify-content: center;
  background: #4beddb;
  transition: all 0.3s ease;
  height: 100%;
    align-items: center;
}

.industry-card:hover {
     background: #012d50;
    border-color: #012d50;
    color: white;
  cursor: pointer;
}

.industry-icon {
//   background: #f5f5f5;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.industry-name {
  font-weight: 600;
  margin-bottom: 0 !important;
}

.list-none{
    list-style: none;
    padding-left: 0rem;
}
.icon-color{
        background: #012d50;
    padding: 10px;
    border-radius: 50%;
    margin-right: 10px;
    color: white;
    font-size: 10px;
}
.text-justify{
    text-align: justify;
}
.form-section-style{
    background: white;
    padding: 20px;
    border-radius: 20px;
}
//-----Manish----

.bgnew{
    background-color: #4faefc;
}
.bgnewtwo{
    background-color: #4beddb;
}